@import "../../global.scss";


.home {
    display: flex;
    justify-content: left;
    font-weight: 400;
    max-width: 1000px;
    margin: 0px auto;
    font-size: 20px;
    padding: 20px;
    flex-direction: column;
    
    h1 {
        font-size: 25px;
        margin: 0px;
        color: black;
    }
  
}
.blog-preview {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    margin: 4px 0;
    border-bottom: 1px solid rgb(157, 157, 255);
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .blog-preview:hover {
      transition: all 0.5s ease-in-out;
    transform: scale(1.03);
    h1{
        color: $mainColor;
    }
  }
  