@import "../../global.scss";

.navbar {
    padding:10px;
    display: flex;
    align-items: center;
    max-width: auto;
    border-bottom: 1px solid #e3b8ff;
    h1 {
        padding-left: 50px;
        color: $mainColor;
        font-size: 30px;
        display: flex;
        align-items: flex-start;
    }
    
    .links {
        padding-left: 600px;
        a {
            margin-left: 40px;
            text-decoration: none;
            padding-left: 10px;
            font-weight: bold;
            color: black;
            
            &:hover{
                color: $mainColor;
            }

        }
    }
}
